.vscode/
.venv/
__pycache__/
*.py[cod]
.DS_Store
experiments/*
!experiments/.gitkeep
logs/*
!logs/.gitkeep
notebooks/*
!notebooks/.gitkeep
data/*
!data/__init__.py
!data/imdb.py
!data/.gitkeep
data/cache/
data/raw/
data/processed/
!data/processed/.gitkeep
results/*
!results/.gitkeep
wandb/
