name: transformers-model
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - numpy
  - scipy
  - pandas
  - scikit-learn
  - matplotlib
  - pillow
  - jupyterlab
  - ipykernel
  - tqdm
  - pip
  - pip:
      - transformers==4.57.3
