torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
numpy==1.26.4
scipy==1.11.4
pandas==2.2.1
scikit-learn==1.4.0
matplotlib==3.8.2
pillow==10.2.0
jupyterlab==4.1.1
ipykernel==6.29.3
tqdm==4.66.2
datasets==2.16.1
